<style>
  .week-container {
    display: flex;
    gap: 10px;  /* Adjusts the space between days */
    overflow-x: scroll;
    -ms-overflow-style: none;  /* Internet Explorer 10+ */
    scrollbar-width: none;  /* Firefox */
    justify-content: center;  /* Centers the days horizontally */
  }

  .week-container::-webkit-scrollbar {
    display: none;  /* Safari and Chrome */
  }

  .simple-calendar table {
    table-layout: fixed;
    border-collapse: separate;
    border-spacing: 5px;
    border: none;
    width: 100%;  /* Ensures the table takes full width */
  }

  .day {
    color: #004E89;
    background-color: #FFE4D0 !important;
    padding: 15px !important;
    border-radius: 5px !important;
    text-align: center !important;
    width: 140px !important;
    height: 80px !important;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
</style>
