.data-home-page {
  background-color: #EFEFD0;
}

.data-program-btn {
  background-color: transparent;
  color: #FF6B35;
  font-size: large;
  font-weight: 600;
  border: none;
  padding: 20px;
  padding-top: 28px;
}
