.data-home-page {
  background: none;
}

.data-program-btn {
  background-color: transparent;
  color: #FF6B35;
  font-size: large;
  font-weight: 600;
  border: none;
  padding: 20px;
  padding-top: 28px;
  display: block;
  margin-bottom: 10px;
}

progress {
  margin-top: 10px;
  border-radius: 25px;
}

.custom-progress {
  height: 20px;
  background-color: #1A659E;
  margin: 15px;
  border-radius: 15px;
}

.custom-progress-bar {
  background-color: #FF6B35;
}

.container-data-2 {
  display: flex;
  overflow-x: auto;
  white-space: nowrap;
  justify-content: center;
  align-items: center;
  padding-top: 24px;
  padding-bottom: 20px;
}

.container-days-before-run,
.container-run-this-week,
.container-nbr-run-this-week {
  background-color: white;
  color: #1A659E;
  font-weight: 500;
  width: 165px;
  height: 110px;
  border-radius: 25px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  padding: 10px;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  margin-right: 20px;
  flex: 0 0 auto;
  text-wrap: wrap;
}

.container-days-before-run:last-child,
.container-run-this-week:last-child,
.container-nbr-run-this-week:last-child {
  margin-right: 0;
}

.data-home-page h1 {
  color: black;
  padding-top: 23px;
  padding-left: 16px;
}

.data-card-1 {
  background-color: white;
  border-radius: 10px;
  border: solid;
  border-color: rgb(217, 214, 214);
  margin-top: 20px;
}

.data-card-1 h5 {
  color: #004E89;
  font-size: 14px;
  padding-top: 12px;
  padding-left: 15px;
  font-weight: 550;
}

.container-data-2 h3 {
  color: #FF6B35;
  font-size: 19px;
  padding-top: 8px;
  font-weight: 600;
}

.container-data-3 {
  background-color: white;
  border-radius: 10px;
  border: solid;
  border-color: rgb(217, 214, 214);
}

.container-data-3 h1 {
  color: #004E89;
  font-size: 14px;
  padding-top: 12px;
  padding-left: 15px;
  font-weight: 550;
}

.container-data-3-infos {
  color: #004E89;
  font-size: 14px;
}

.time-data-3 {
  padding-right: 35px;
}

.duration-data-3 {
  font-size: 12px;
}

.time-duration-data-3 {
  font-size: 18px;
  font-weight: 550;
}

.duration-data-4 {
  padding-left: 23px;
  padding-right: 10px;
  font-size: 42px;
  font-weight: 600;
  color: #FF6B35;
}

.time-duration-data-4 {
  padding-top: 13px;
  font-size: 15px;
}
