.day-run-container {
  background-color: #1A659E;
  padding: 20px;
  color: white;
  margin: 24px;
  border-radius: 30px;
  padding: 15px;
}

.block-seance {
  background: none;
  color: white;
  margin-top: 10px;
  padding-right: 0px;
  padding-top: 10px;
  height: 30px;
  border-radius: 11px;
  display: flex;
  justify-content: start;
  padding-left: 12px;
  font-size: 15px;
  font-weight: 500;
}

.info-item-note {
  margin: 10px 0;
  font-size: 19px;
  font-weight: 500;
}

.run-session-date {
  font-size: large;
  font-weight: 520;
  color: white;
}

.info-item-star {
  display: flex;
  align-items: center;
}

.info-item-star p {
  margin: -15px;
  font-size: 17px;
  color: #FF6B35;
}

.info-item, .block-seance {
  text-align: left;
}

.info-item-star {
  margin-left: auto;
}

.info-item {
  text-align: left;
}
