.day-run-container {
  background-color: #1A659E;
  padding: 20px;
  color: white;
}

.block-seance {
background-color: #004E89;
color: white;
margin-top: 20px;
padding-right: 25px;
padding-left: 25px;
padding-top: 15px;
height: 40px;
border-radius: 11px;
}

.info-item-note {
margin: 23px;
font-size: 19px;
font-weight: 500;
}
