.txt-intro {
  text-align: left;
  font-weight: 600;
  background-color: #EFEFD0;
  padding-top: 23px;
  padding-left: 40px;
  padding-bottom: 23px;
}

.txt-intro p {
  margin: 0;
  line-height: 1;
  color: #FF6B35 ;
  font-size: 34px;
}
