.param-bar-home-page {
  background-color: #EFEFD0;
  padding: 20px;
  padding-left: 50px;
  padding-right: 50px;
}

.settings-btn {
  background-image: url('./settings-font');
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  width: 35px;
  height: 35px;
  border: none;
  background-color: transparent;
  color: #004E89;
}

.notification-home-page-btn {
  background-image: url('./notification-font.png');
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  width: 35px;
  height: 35px;
  border: none;
  background-color: transparent;
  color: #004E89;
}
