.container-recap .card, .container .card {
  max-width: 100%;
  width: 100%;  /* S'assure que toutes les cartes utilisent 100% de la largeur disponible */
  box-sizing: border-box;
  // border-radius: 30px;
}

.container-recap{
  // margin: 15px;
  padding: 10px;
  padding-bottom: 15px;
  // border-radius: 30px;
}

body {
  color: white;
  /* Ajustez la couleur du texte pour être lisible */
  font-size: 16px;
}
.start-background{
  background-attachment: fixed;
  overflow: auto;
  min-height: 100vh;
  // padding: 10px;
}
.card {
  // margin-bottom: 15px; /* Ajuste la marge entre les cartes */
  padding: 10px; /* Ajoute un padding autour du contenu */
  border-radius: 30px;
  width: 100%;
  box-sizing: border-box;
  // margin: 15px;
}

.card-body {
  padding: 10px; /* Réduit le padding dans le corps de la carte */
}
.date-icon {
  margin-right: 20px;
}

.date-icon p {
  margin-right: 10px;
}

.modal-recap{
  border-radius: 20px;
}

.week-calendar {
  display: flex;
  overflow-x: auto;
  white-space: nowrap;
  justify-content: center;
  align-items: center;
 margin-left: 12px;
}
