.container-recap{
  // margin: 15px;
  padding: 20px;
  padding-bottom: 15px;
}

body {
  color: white;
  /* Ajustez la couleur du texte pour être lisible */
  font-size: 16px;
}
.start-background{
  background-attachment: fixed;
  overflow: auto;
  min-height: 100vh;
  padding: 15px;
}
.card {
  // margin-bottom: 15px; /* Ajuste la marge entre les cartes */
  padding: 15px; /* Ajoute un padding autour du contenu */
  border-radius: 10px; /* Ajoute des coins arrondis */
}

.card-body {
  padding: 10px; /* Réduit le padding dans le corps de la carte */
}
.date-icon {
  margin-right: 20px;
}

.date-icon .icon {
  margin-right: 10px;
}

.modal-recap{
  border-radius: 20px;
}
