.run-week {
  background-color: #EFEFD0;
}

.week-program-btn {
  background-color: transparent;
  color: #FF6B35;
  font-size: 23px;
  font-weight: 600;
  border: none;
  padding: 20px;
  padding-top: 28px;
}
