<div data-controller="modal">
  <div style="background: #F5F1F1;">
    <div style="display: flex; justify-content: center;">
      <h1 style="font-size: 40px; font-weight: bold; color: #FF6B35; padding-top: 54px; padding-left: 36px;">Programme</h1>
    </div>

    <%= custom_calendar(start_date: @start_date, events: @running_sessions, attribute: :date) do |date, running_sessions| %>
      <%= localize(date, format: :long, locale: :fr) %>

      <% running_sessions.each do |running_session| %>
        <div role="button" data-action="click->modal#open" data-url="<%= running_session_url(running_session) %>" style="margin-top: 20px; display: flex; align-items: center; justify-content: center; padding: 12px 10px; background: #F7C59F; color: #004E89;">
          <%= running_session.run.kind %>
        </div>
      <% end %>
    <% end %>
  </div>


  <div data-modal-target="modalElement" class="modal fade text-black" id="running-session-modal" tabindex="-1" aria-labelledby="running-session-modal-label" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
      <div class="modal-content">
        <div class="modal-header">
          <h1 class="modal-title fw-bold text-bolb text-primary" id="running-session-modal-label">Ce jour</h1>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-info w-100">Modifier</button>
        </div>
      </div>
    </div>
  </div>
</div>
