<div style="background: #F5F1F1;">
  <div style="display: flex; justify-content: center;">
    <h1 style="font-size: 40px; font-weight: bold; color: #FF6B35; padding-top: 54px; padding-left: 36px;">Programme</h1>
  </div>

  <%= custom_calendar(start_date: @start_date, events: @running_sessions, attribute: :date) do |date, running_sessions| %>
    <%= localize(date, format: :long, locale: :fr) %>

    <% running_sessions.each do |running_session| %>
      <div style="margin-top: 20px; display: flex; align-items: center; justify-content: center; padding: 12px 10px; background: #F7C59F; color: #004E89;">
        <%= running_session.run.kind %>
      </div>
    <% end %>
  <% end %>
</div>
