<div class="start-background align-items-center d-flex justify-content-center p-4" style="height: 100vh">
  <%= link_to "Connectes ton compte Strava", @path, class: "bg-info d-inline-block fs-4 mt-4 px-5 py-4 mx-5 rounded-pill text-decoration-none text-white text-center" %>
</div>
