<div class="start-background align-items-center d-flex justify-content-center p-4" style="height: 100vh">
  <div class="mx-5">
    <h1 class="text-primary fw-bold mb-5" style="font-size: xxx-large;">Bienvenue sur SelfCoach</h1>
    <p class="fs-4 mb-4" style="color: #8A8A8A;">SelfCoach est votre nouvel assistant personnel de course à pied</p>
    <div class="d-flex justify-content-center">
      <%= link_to "C'est parti!", new_user_registration_path, class: "bg-info d-inline-block fs-5 mt-4 px-5 py-4 rounded-pill text-decoration-none text-white" %>
    </div>
  </div>
</div>
