.week {
  min-width: 1600px;
  overflow-x: scroll;
}

.day {
  background-color: #F4B393 !important;
  padding: 15px !important;
  border-radius: 5px !important;
  text-align: center !important;
  width: 120px !important;
  height: 100px !important;
}
